.background-shapes {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 6rem;
}

.foreground {
  z-index: 8;
}

.section {
  width: 50vw;
  margin: 0 auto;
  margin-top: 18rem;
}

.section.head-section {
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 0;

  &:hover {
    .media-links {
      display: flex;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.category-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  position: relative;
  z-index: 10;
}

.category-layout.technos-layout {
  gap: 1rem;
  margin-top: 2rem;
}

.category-layout.infos-layout {
  grid-template-columns: 1fr;
}

.category-layout.projets-layout {
  grid-template-columns: repeat(2, 24vw);
  grid-template-rows: 24vw;
}

.project-tiles {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 0.55rem));
  grid-template-rows: repeat(2, calc(50% - 0.55rem));
  gap: 1rem;
}
