.section {
  width: 50vw;
  margin: 0 auto;
  margin-top: 12rem;
}

.section.head-section {
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 0;
}

.category-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5%;
  position: relative;
  z-index: 10;
}

.category-layout.technos-layout {
  gap: 1rem;
  margin-top: 2rem;
}

.category-layout.infos-layout {
  grid-template-columns: 1fr;
}

// .category-layout.projets-layout {
//   grid-template-columns: repeat(2, 48.5%);
//   grid-template-rows: 25vw;
// }

// .project-tiles {
//   display: grid;
//   grid-template-columns: repeat(2, 49%);
//   grid-template-rows: repeat(2, 49%);
//   gap: 2%;
// }

.category-layout.parcours-layout {
  display: flex;
  align-items: stretch;
  border-left: none !important;
  border: 0.5rem solid $orange;
  background-color: $blue;
}
