@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&family=Montserrat:wght@400;600;700&display=swap');

@import 'variables.scss';
@import 'layout.scss';
@import 'components/index.scss';
@import 'mediaqueries';

*,
::before,
::after {
  box-sizing: border-box;
}

html, body {
  background-color: $blue;
  color: $beige;
  font-family: $monospace, $sans-serif, -apple-system, BlinkMacSystemFont,
    "Roboto", "Droid Sans", "Ubuntu", sans-serif;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3 {
  color: $beige;
  font-family: $monospace;
  font-size: 5rem;
}

h1 {
  font-weight: 400;
  margin: 0;
}

h1, h2 {
  text-shadow: $three-d-shadow;
  margin-top: 0;
}

h2 {
  margin-bottom: 4rem;
  font-size: 6rem;
}

h3 {
  text-shadow: $reverse-three-d-shadow;
  margin-bottom: 1rem;
  text-align: right;
  position: relative;
  z-index: 1;

  &::before {
    content: '_';
    margin-right: -2rem;
  }
}

