<ul class="media-links">
  <li class="media-link">
    <a href="https://github.com/Powlinett" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <p class="content" data-after="Cliquer pour copier">
      /Powlinett
    </p>
  </li>
  <li class="media-link">
    <a href="https://www.linkedin.com/in/pauline-eustachy/" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <p class="content" data-after="Cliquer pour copier">
      /pauline-eustachy
    </p>
  </li>
  <li class="media-link">
    <a href="tel: +33678615188">
      <img src="./images/phone.svg" alt="">
    </a>
    <p class="content" data-after="Cliquer pour copier">
      06 78 61 51 88
    </p>
  </li>
  <li class="media-link">
    <a href="mailto: pauline.eustachy@gmail.com">
      <img src="./images/at.svg" alt="">
    </a>
    <p class="content" data-after="Cliquer pour copier">
      pauline.eustachy@gmail.com
    </p>
  </li>
</ul>
