<% category.content.reverse.each do |c| %>
  <div class="parcours">
    <div class="circle"></div>
    <p class="date">
      <%= c.date %>
    </p>
    <div>
      <div class="parcours-title">
        <h5>
          <%= c.title %>
        </h5>
      </div>
      <p class="parcours-description">
        <%= c.description %>
      </p>
    </div>
    </div>
<% end %>
