<% category.content.each do |c| %>
  <div class="parcours-card">
    <h5 class="parcours-title">
      <%= c.title %>
    </h5>
    <p class="parcours-description">
      <%= c.description %>
    </p>
  </div>
<% end %>
