<div class="shape left">
  <div class="text">
    Découvrez
    <br>
    mon travail
    <br>
    en détails.
  </div>
  <div class="links">
    <a href="https://github.com/Powlinett" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/pauline-eustachy/" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</div>
