<div class="shape right">
  <div class="text">
    <div>
      Une question ?
    </div>
    <div>
      Ou un conseil ?
    </div>
    <div>
      Dites-moi tout !
    </div>
  </div>
  <div class="links">
    <a href="tel: +33678615188">
      <img src="./images/phone.svg" alt="">
    </a>
    <a href="mailto: pauline.eustachy@gmail.com">
      <img src="./images/at.svg" alt="">
    </a>
  </div>
</div>
