.project {
  background-color: $beige;
  color: $blue;
  padding: 2rem;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: $small-shadow;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: $medium-shadow;
    margin-left: 0.125rem;

    .project-description {
      margin-left: 0;
      transition: margin-left 0.2s ease;
    }
  }
}

.project-description {
  margin-left: 0.125rem;
  transition: margin-left 0.2s ease;
}

.project-title {
  font-size: 1.5rem;
  margin: 0;
  display: inline;
  // background-color: rgba(51, 92, 103, 0.5);
  // padding: 0.25rem;
}

.project .links {
  display: flex;
  justify-content: flex-end;
  justify-self: flex-end;
  margin-top: 1rem;
}

.project a {
  color: $orange;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: $sans-serif;
  font-weight: 800;
  margin-right: 1rem;
  transition: $scale-transition;

  &:before {
    content: '_';
    margin-right: -0.25rem;
  }

  &:hover {
    transform: scale(1.1, 1.1);
    transition: $scale-transition;
  }
}
