.headings {
  position: relative;
  width: 70%;
  height: 60%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo {
  height: 26vw;
  position: absolute;
  top: 14%;
  right: 5%;
  z-index: 6;
  border-radius: 38% 62% 55% 45% / 32% 53% 47% 68%;
  animation: $wavy-animation;
}

.section.head-section {
  &::after {
    content: '';
    display: block;
    width: 26vw;
    height: 24vw;
    position: absolute;
    right: 0;
    background-color: $orange;
    border-radius: 38% 62% 55% 45% / 32% 53% 47% 68%;
    animation: $wavy-animation;
  }
}
