.infos {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  border: 0.5rem solid $orange;
  padding: 2rem 3.5rem;

  div {
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    // text-shadow: $blue-shadow;
  }

  #age {
    margin: 0;
  }

  &::before {
    background-image: url('../images/quote-up.svg');
    align-self: flex-start;
  }

  &::after {
    background-image: url('../images/quote-down.svg');
    align-self: flex-end;
  }

  &::before, &::after {
    content: '';
    padding: 4rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
