#age {
  margin: 0;
}

.infos-layout {
  p:first-of-type::before {
    background-image: url('../images/quote-up.svg');
    margin-right: 2rem;
    float: left;
  }

  p:nth-child(3) {
    display: flex;
    align-items: flex-end;

    &::after {
      background-image: url('../images/quote-down.svg');
      margin-left: 2rem;
    }
  }


  p:first-of-type::before, p:nth-child(3)::after {
    content: '';
    padding: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
