.section.head-section:hover {
  .media-links {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
}

.media-links {
  position: relative;
  z-index: 6;
  height: 60%;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  opacity: 0;
  margin: 0;
  margin-right: -8.5rem;
  transition: opacity 0.3s ease-in-out;
}

.media-links :nth-child(2), .media-links :nth-child(3) {
  padding-left: 1.5rem;
}

.media-link {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  width: 12rem;
}

.media-link a {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.22);
  color: transparent;
  position: relative;
  border-radius: 38% 62% 55% 45% / 32% 53% 47% 68%;
  animation: $wavy-animation;
  height: fit-content;

  i {
    font-size: 2rem;
    color: $beige;
  }

  img {
    width: 1.9rem;
    height: 1.9rem;
  }
}

.media-link .content {
  display: none;
  opacity: 0;
  padding-left: 1rem;
  transition: opacity 0.1s ease-in-out;
}

.media-link:hover {
  transform: scale(1.2, 1.2);
  transition: transform 0.3s ease-in-out;

  .content {
    display: flex;
    flex-direction: column;
    opacity: 1;
    position: absolute;
    margin: 0;
    margin-left: 4rem;
    min-height: 6rem;
    min-width: 20rem;
    color: $beige;
    transition: opacity 0.1s ease-in-out;
    justify-content: center;
    padding-top: 0.5rem;

    &::after {
      content: attr(data-after);
      font-size: 0.75rem;
      font-weight: normal;
      opacity: 0;
    }

    &:hover {
      cursor: pointer;
      font-weight: bold;

      &::after {
        opacity: 0.4;
      }
    }
  }
}
