.parcours-layout .line {
  background-color: $orange;
  width: 0.5rem;
  padding-top: 3rem;
  padding-bottom: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parcours-layout .circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.25rem solid $blue;
  background-color: $orange;
  margin-left: -1rem;
}

.parcours-container {
  padding: 2rem 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.parcours-container .parcours {
  margin-top: 1.5rem;
  color: $beige;
  display: flex;
  align-items: baseline;

  .date {
    color: $orange;
    margin: 0;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    width: 10rem;
  }
}

.parcours-title {
  font-size: 1.5rem;
  display: flex;
  align-items: center;

  h5 {
    margin: 0;
  }
}

.parcours-description {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
