.shape {
  width: fit-content;
  padding: 3rem;
  position: absolute;
  background-color: $orange;
  border-radius: 38% 62% 55% 45% / 32% 53% 47% 68%;
  animation: $wavy-animation;
  font-size: 1.5rem;
  font-family: $sans-serif;

  &::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.22);
    position: absolute;
    padding: 8rem;
    border-radius: 38% 62% 55% 45% / 32% 53% 47% 68%;
    animation: $wavy-animation;
  }
}

.shape .text, .shape .links {
  position: relative;
  z-index: 4
}

.shape .links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;

  a {
    color: $beige;
    font-size: 2.5rem;
    text-decoration: none;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2, 1.2);
      transition: transform 0.3s ease;
    }
  }
}

.shape.left {
  bottom: 38%;

  &::before {
    bottom: 1%;
    right: 1%;
  }
}

.shape.right {
  text-align: right;
  bottom: 5%;
  align-self: flex-end;

  &::before {
    bottom: 1%;
    right: -4%;
  }

  .links a img {
    width: 2.8rem;
    height: 2.8rem;
  }
}
