.shape {
  position: absolute;
  border: $dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: $sans-serif;
  border-radius: 38% 62% 55% 45% / 32% 53% 47% 68%;
  animation: $wavy-animation;

  &::after {
    content: '';
    padding: 8rem;
    position: relative;
    background-color: $orange;
    border-radius: 38% 62% 55% 45% / 32% 53% 47% 68%;
    animation: $wavy-animation;
  }
}

.shape .links {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  a {
    color: $beige;
    font-size: 3rem;
    text-decoration: none;
  }
}

.inner-shape {
  max-width: 50%;
  z-index: 2;
}

.shape-left {
  justify-content: flex-end;
  width: 60rem;
  height: 50rem;
  left: -24%;
  margin-top: 25rem;

  &::after {
    bottom: 35%;
    left: 17%;
  }
}

.shape-left .inner-shape {
  margin-left: 22rem;
  margin-bottom: 4rem;
}

.shape-right {
  width: 60rem;
  height: 35rem;
  justify-content: center;
  right: -20%;
  margin-top: 40rem;

  &::after {
    bottom: 20rem;
    right: 8rem;
  }
}

.shape-right .inner-shape {
  padding: 6rem;
  margin-right: 16rem;
  margin-top: 15rem;
  text-align: right;
}

@keyframes wave {
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }
  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
  }
}
